{{/* Override Projects section to make entire card clickable using item.url or first link */}}
{{- $projects := site.Params.projects -}}
{{- if and $projects $projects.enable -}}
<section id="projects" class="section">
  <div class="container">
    <div class="section-title">
      <h2>Projects</h2>
    </div>
    <div class="row">
      {{- range $projects.items }}
      {{- $href := .url -}}
      {{- if not $href -}}
        {{- with index .links 0 -}}
          {{- $href = .url -}}
        {{- end -}}
      {{- end -}}
      <div class="col-md-4 mb-4">
        <a href="{{$href}}" class="text-reset text-decoration-none d-block">
          <div class="card h-100">
            {{- with .image }}
            <img src="{{.}}" class="card-img-top" alt="{{ $.title }}">
            {{- end }}
            <div class="card-body">
              <h5 class="card-title">{{ .title }}</h5>
              {{- with .content }}
              <p class="card-text">{{ . }}</p>
              {{- end }}
            </div>
          </div>
        </a>
      </div>
      {{- end }}
    </div>
  </div>
  </section>
{{- end -}}

